/* login.css */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

h2 {
    color: red;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    padding: 40px;
    max-width: 500px;
    margin: 50px auto;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

input {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1rem;
    transition: border 0.3s ease;
}

input:focus {
    border-color: red;
    outline: none;
}

button {
    background-color: red;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: red;
}

.signup-redirect {
    text-align: center;
    margin-top: 20px;
}

.signup-redirect p {
    margin: 0;
    color: #333;
}

.signup-redirect button {
    background-color: #a6c1ee;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-redirect button:hover {
    background-color: #819bbd;
}
